
:root {
    --tile-size: 40px;
    --board-width: 32;
    --board-height: 16;
    --some-calculation: calc(var(--board-width) * 800px);
    --tile-padding: 5px;

    --domino-width: calc(var(--tile-size) * 2 - 2 * var(--tile-padding));
    --domino-height: calc(var(--tile-size) * 1 - 2 * var(--tile-padding));
    --rotation-origin: calc(var(--domino-height) / 2);
}

*:focus {
    outline: none;
}

body {
    font-family: sans-serif;
    color: white;
    background-color: #101010;
}

div {
    box-sizing: border-box;
}

p {
    max-width: 560px;
    text-align: justify;
}

p.important {
    color: #d0d020;
}

button {
    border-radius: 4px;
    height: 32px;
    width: 100%;
    background-color: #2f0b75;
    border: 1px solid #003179;
    border-bottom-width: 2px;
    border-right-width: 2px;
    color: #dfdeff;
    margin-bottom: 10px;
}

button:hover {
    border: 1px solid #0066ff;
}

button:active {
    position: relative;
    left: 1px;
    top: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-top-width: 2px;
    border-left-width: 2px;
}

.hidden {
    display: none;
}

.domino {
    width: var(--domino-width);
    height: var(--domino-height);
    background-color: #ff0c57;
    border: 2px solid #ff4b5c;
    border-radius: 4px;
    position: absolute;
    transform-origin: var(--rotation-origin) var(--rotation-origin);
}

.domino:hover {
    border: 2px solid white;
}

.ghost {
    position: absolute;
    opacity: 0.4;
}

.ghost:hover {
    border: 2px solid #ff4b5c;
}

.east {
    transform: rotate(0deg);
}

.south {
    transform: rotate(90deg);
}

.west {
    transform: rotate(180deg);
}

.north {
    transform: rotate(270deg);
}

#board {
    padding: 0;
    margin: 0;
    width: calc(var(--tile-size) * var(--board-width) + 2px);
    position: relative;
}

#board-background {
    width: calc(var(--tile-size) * var(--board-width));
    height: calc(var(--tile-size) * var(--board-height));
}

#container {
    display: flex;
    flex-direction: row;
}

#controls {
    margin-left: 10px;
    width: 150px;
}
